@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins)
}


.bg-chat-background {
  background-image: url('/images/bg-pattern.png');
}
.bg-chat-background {
  position: relative;
}

.bg-chat-background::before {
  content: "";
  position: absolute;
  inset: 0; /* covers entire parent */
  background: rgba(0, 0, 0, 0.5); /* overlay color */
  z-index: 1;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}